#app{
    height: 100vh;
}
.background1{
    background: rgb(0,167,151);
    background: linear-gradient(0deg, rgba(218,219,211) 80%, rgba(0,167,151) 80%);
    height: 100%;
}
.notifica{
    background-color: #8edafc;
}
.row{
    padding-top: 95px !important;
}
.header-background-profile{
    background-color: #eaeaea;
}
.fa-bell-slash{
    color: #8edafc;
    background-color: #f2fbff;
    border-radius: 50%;
    padding: 10px;
}
.form-control:focus,.form-control:active {
    outline: none !important;
    box-shadow: none;
}
.foto{
    width: 55px;
    border-radius: 50%;
}
.contacts-container{
    background-color: #ffffff;
    cursor: pointer;
    position: relative;
}
.contacts-container::before {
    content: "";
    position: absolute;
    left: 75px;
    bottom: 0;
    height: 1px;
    width: 80%;
    border-bottom: 1px solid rgb(199, 199, 199);
    
}
.contacts-container:hover{
    background-color: #ebebeb;
}
.bold{
    font-weight: 500;
}
.font{
    font-size: 15px;
}
.my-overflow{
    overflow-y: auto;
    
}
.background3{
    background-image: url(../img/mine.jpg);
    height: 86%;
}
.sent{
    float: right;
    background-color: #D5F9BA;
    clear: both;
}
.received{
    float: left;
    background-color: white;
    clear: both;
}
.message-text{
    width: 350px;
    border-radius: 15px;
    padding: 10px;
    position: relative;
    margin: 10px;
}
.active{
    background-color: #c9c9c9;
    cursor: default;
}
.date{
    font-size: 10px;
    color: #cbcbcb;
    padding-top: 6px;
}
i{
    cursor: pointer;
}
.gray{
    color:  #858585;
    white-space: nowrap; 
    width: 214px; 
    display: block;
    overflow: hidden;
    text-overflow: ellipsis; 
}
